<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Dolkens.Framework.Caching.Redis" connectionString="sportlabs-sportbench-test.redis.cache.windows.net,ssl=true,password=e4NYX6SIfNoboMJXR6lc00FBfO8HfDxk/9C1shNY4nc=,connectTimeout=5000,syncTimeout=5000" />
  </connectionStrings>
  <appSettings>
    <add key="Dolkens.Framework.Caching.Type" value="Dolkens.Framework.Caching.Redis.Cache" />
    <add key="Dolkens.Framework.Caching.DependencyType" value="Dolkens.Framework.Caching.Redis.CacheDependency" />
    <add key="Dolkens.Framework.Caching.SettingsType" value="Dolkens.Framework.Caching.Redis.CacheSettings" />
    <add key="Dolkens.Framework.Caching.Assembly" value="Dolkens.Framework.Caching.Redis" />
  </appSettings>
</configuration>