<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA6ASlMjSSFUSV/ATLhgU4FAAAAAACAAAAAAADZgAAwAAAABAAAAA9EzirwyYMBrFG2Sam3Q7iAAAAAASAAACgAAAAEAAAAIPVTEodNDX8MzF1itTSnF8oAAAAQyxKDC8CygU7TFAkdFzCY6oELHXvnFccMkD+CD74aSknJmT3+h8akxQAAACTlsWjCiL9xd2tCsJIxeJGmz1/Qw==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA6ASlMjSSFUSV/ATLhgU4FAAAAAACAAAAAAADZgAAwAAAABAAAACXIJ8VS2cGvyxo/2ax1Uc6AAAAAASAAACgAAAAEAAAAL2zU6uWNnYlSm7WGjlGbaUoAAAAZjyS2dWGX9QqT8HzlS3GbUGbAVv65NEGCLHkBZBLBwWVU7Wg/VD1OhQAAACuJ2A/ItRH7N+0fn+2AykvLC90gg==" />
  </apikeys>
</configuration>